# Binaires Go
/forum
*.exe 

# Environnement et secrets
.env
.env.local 

# Base de données (si SQLite)
*.db 

# Uploads d'utilisateurs
/uploads/* 
/public/uploads/*

# IDE
.vscode/
.idea/

node_modules/
